.accordion-item{

  
  padding: 10px;
  margin: 10px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.acordion-title{


  display: flex;
  justify-content: space-between;
}